body {
  background-color: black;
  color: white;
}

form {
  /* At the time of writing, this is the width of the content area in Chrome's setting pages. */
  width: 680px;
  margin: 0 auto;
}

label {
  display: block;
}

input {
  background-color: #333;
}

input#mappings {
  width: 80%;
  height: 200px;
}

label, input {
  margin: 5px 0;
}
